BasedOnStyle: LLVM
Standard: Latest

ColumnLimit: 0
IndentWidth: 4
UseTab: Never
MaxEmptyLinesToKeep: 2

BreakBeforeBinaryOperators: All
BreakBeforeBraces: Linux
AlignAfterOpenBracket: false
SpaceBeforeParens: ControlStatements
AlwaysBreakTemplateDeclarations: true
AlignEscapedNewlinesLeft: true
PointerAlignment: Left
AccessModifierOffset: -4
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: true

SpacesBeforeTrailingComments: 2
CommentPragmas: '[!\*]'
